.aboutme{
    align-items: top;
    text-align: center;
    display: block;
    background-color: gray;
}


.headshot{
    vertical-align: top;
    margin: 5vw;
    margin-top: 0px;
    padding: 0;
    border-radius: 15px;
    max-width: 200px;
    max-height: 300px;
    object-fit: cover;
}

.aboutmeText{
    max-width: 60vw;
    margin: 5vw;
    display: inline-block;
}

