.aboutme{
    min-height: 60vh;
    max-height: 300vh;
    align-items: top;
    text-align: center;
    display: block;
    background-color: gray;
    padding-top: 3vh;
}


.headshot{
    max-width: 220px;
    max-height: 300px;
    vertical-align: top;
    margin: 5vw;
    margin-top: 4vh;
    padding: 0;
    border-radius: 15px;
}

.aboutmeText{
    margin: 5vw;
    margin-top: 4vh;
    padding-bottom: 10vh;
    overflow-y: scroll;
    vertical-align: top;
    width: 60vw;
    min-height: 30vh;
    max-height: 50vh;
    display: inline-block;
}
