.Footer{
    display: flex;
    justify-content: space-between;
    background-color: darkgray;
}

.Footer-content{
    color: white;
    text-align: center;
    margin: 2em;
    display: block;
    width: 40vw;
    height: auto;
}

.Hyperlink{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

@media screen and (max-width: 1040px) {
    .Footer{
        display: flex;
        justify-content: center;
    }
    .Footer-content{
        color: white;
        text-align: center;
        margin: 2em;
        display: block;
        width: 85vw;
        height: auto;
    }
}
