.title{
    font-size: larger;
    padding: 2vh 2vw;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.nav-menu{
    list-style-type: none;
    display: flex;
}

.nav-menu li{
    padding-left: 1vw;
    padding-right: 1vw;
}

.faIcon{
    display: none;
    font-size: larger;
    color: white;
}

/* changing navigation bar button when corresponding device apply */
@media screen and (max-width: 1040px) {
    .nav-menu{
        background-color: black;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -1;
    }

    .nav-menu.show{
        left: 0;
    }

    .nav-menu li{
        padding: 5vh 5vw;
    }

    .faIcon{
        display: block;
        visibility: visible;
    }
}