.title{
    position: fixed;
    width: 100%;
    font-size: larger;
    background-color: black;
    opacity: 0.9;
    padding: 2vh 2vw;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    transition: 0.4s;
}

.title.inactive{
    top: -50%;
    transition: 2s;
}

.nav-menu{
    list-style-type: none;
    display: flex;
}

.nav-menu li{
    padding-left: 1vw;
    padding-right: 1vw;
}

.faIcon{
    display: none;
    font-size: larger;
    color: white;
}

.faIcon:hover{
    color: blue;
}

.logo{
    margin: 0;
    padding-right: 0.5vw;
}

/* changing navigation bar button when corresponding device apply */
@media screen and (max-width: 1040px) {
    .nav-menu{
        opacity: 0.8;
        background-color: black;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -1;
        
        transition: 0.4s;
    }

    .nav-menu.show{
        left: 0;
    }

    .nav-menu li{
        text-align: center;
        padding: 5vh 5vw;
    }

    .faIcon{
        display: block;
        visibility: visible;
    }
}