.Practice{
    color: white;
    text-align: center;
}

.cards {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 200px;
    max-height: 200px;
    max-width: 200px;
    background-color: darkblue;
    padding: 10px;
    outline: auto;
    margin: 5px;
}