.ProjectCard{
    padding-top: 2vh;
    color: white;
    text-align: center;
    background-color: darkgray;
    max-height: 100vh;
}

.ProjectCard a{
    text-decoration: none;
    color: white;
    margin: 0vh 1vw;
}

.card-container{
    width: 100%;
    display: flex;
    max-height: 60vh;
    overflow: scroll;
    
}

.card-list{
    display: flex;
    margin: 1vh 1vw;
    padding: 5vh 5vw;
    text-overflow:ellipsis;
}


.card{
    padding: 1vh 1vw;
    background-color: black;
    text-align: left;
    width: 30vw;
    height: 40vh;
    box-shadow: gray 7px 7px;
    overflow: hidden;
}

.card:hover{
    width: 40vw;
    height: 45vh;
    transform: translate(0%, -5%);
    overflow: scroll;
    transition: 0.2s;
}

.name .language .description .lastPush{
    background-color: pink;
}

/*
.card {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20vh;
    width: 15vw;
    background-color: darkblue;
    padding: 10px;
    outline: auto;
    margin: 5px;
}

.mainCard{
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40vh;
    width: 30vw;
    background-color: darkblue;
    padding: 10px;
    outline: auto;
    margin: 5px;
    transition: 1s;
}


.name .language .description .lastPush{
    max-width: 200px;
    max-height: 20px;
}
 */
