.ProjectCard{
    padding-top: 2vh;
    color: white;
    text-align: center;
    background-color: rgb(205, 225, 235);
    height: 80vh;
}

.ProjectCard a{
    text-decoration: none;
    color: white;
    margin: 0vh 1vw;
}

.card-container{
    width: 100%;
    display: flex;
    max-height: 60vh;
    overflow: scroll;
    
}

.card-list{
    display: flex;
    margin: 1vh 1vw;
    padding: 5vh 5vw;
    text-overflow:ellipsis;
}


.card{
    padding: 1vh 1vw;
    background-color: rgb(114, 88, 16);
    text-align: left;
    width: 26vw;
    height: 40vh;
    box-shadow: gray 7px 7px;
    overflow: hidden;
}

.card.misc{
    background-image: url('../assets/computer.png');
    background-position: center;
    background-size: 50px 50px;
    background-position: center 30vh;
    background-repeat: no-repeat;
}

.card.misc.js{
    background-image: url('../assets/java-script.png');
}

.card.misc.csharp{
    background-image: url('../assets/csharp.png');
}

.card.misc.html{
    background-image: url('../assets/html.png');
}

.card:hover{
    /* width: 40vw;
    height: 45vh;
    padding-top: 0;
    transform: translate(0%, -5%); */
    /* overflow: scroll; */
    background-color: rgb(160, 125, 28);
    transform: translateY(-2%);
    transition: 0.2s;
}

.name .language .description .lastPush{
    background-color: pink;
}


/*
.card {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20vh;
    width: 15vw;
    background-color: darkblue;
    padding: 10px;
    outline: auto;
    margin: 5px;
}

.mainCard{
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40vh;
    width: 30vw;
    background-color: darkblue;
    padding: 10px;
    outline: auto;
    margin: 5px;
    transition: 1s;
}


.name .language .description .lastPush{
    max-width: 200px;
    max-height: 20px;
}
 */
