@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* import font style */

*{
    font-family: 'outfit', sans-serif;
}

body{
    background-color: black;
}

h1, h2, h3, h4, h5, h6, p, a{
    color: white;
    text-decoration: none;
}

/* fading animation */
.hidden{
    opacity: 0;
    transition: all 2s;
}

.show{
    opacity: 1;
}

.container{
    background-color: gray;
    border-radius: 25px;
    padding: 2vh 1vw;
}

@media(prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}